@import url("style.css");

main {
    display: flex;
    /* Usar flexbox para centralizar */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    max-width:500px;
    /* Mantém a largura desejada */
    height: 500px;
    /* Mantém a altura desejada */
    margin: 0 auto;
    /* Centraliza horizontalmente se o main não ocupar 100% da largura do pai*/   
}

.cadastro{
    max-width: 500px ;
    width:100% ;
    display: flex;
    flex-direction: column;
    margin-top: 30vh;
    background-color: #771127;
}
.cadastro h2{
    color: #ECD8E0;
    

}
.cadastro form{
    background-color: aliceblue;
    border: 1px solid  #771127;
    margin-top:20px !important;
    margin:2px;
    padding:5px;
    gap:2px;
    display: flex;
    flex-direction: column;

}




