/* BARRA DE NAVEGAÇÃO */
nav {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-list a {
    text-decoration: none;
    color: #ECD8E0;
    font-size: 23px;
    position: relative;
    padding-bottom: 5px;
}

.nav-list a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #ECD8E0;
    transition: width 0.3s ease;
}

.nav-list a:hover::after {
    width: 100%;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 4px;
    cursor: pointer;
}

.logo :hover {

    opacity: 0.6;
    transition: 1s;

}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #771127;
    height: 9vh;
}


.login-button button {
    border: none;
    background-color: #ECD8E0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover {

    opacity: 0.5;
    transition: 1s;

}

main {
    background: #ECD8E0;
    background-size: cover;
    height: 92vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #ECD8E0;
    margin: 8px;
    transition: 0.3s;
}
