@import url("style.css");

body {
    background-color: var(--cor-primaria);

}

main {
    display: flex;
    /* Usar flexbox para centralizar */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
    width: 500px;
    /* Mantém a largura desejada */
    height: 500px;
    /* Mantém a altura desejada */
    margin: 0 auto;
    /* Centraliza horizontalmente se o main não ocupar 100% da largura do pai*/
    
    
}

.login {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    margin-top: 30vh;

}




.forms {
    background: #771127;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 25vw;
    height: 50vh;
    padding: 0% 10%;
    box-shadow: 0px 19px 79px 0px rgba(119,17,39,0.24);
    box-shadow: 0px 19px 79px 0px rgba(119,17,39,0.24),0px 17px 100px 18px rgba(119,17,39,0.24);
    margin: 0 auto;
    border-radius: 30px;
}

div.login img.login_logo_logo {
    width: 40%;
    /* A imagem ocupará 100% da largura do contêiner pai */
    height: auto;
    /* A altura se ajustará proporcionalmente */
    object-fit: contain;
    /* Mantém a proporção original */
    margin: 0 auto 10% auto;
    display: block;
}

.login_usuario_forms {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    gap: 10px;
    color: #ECD8E0;
}


.login_usuario_forms:visited {
    appearance: none;
    color: #ECD8E0;
    text-decoration: none;
}

.login_usuario_forms a {
    text-decoration: none;
    color: #ECD8E0;
}

.login_usuario_forms a:hover {
    text-decoration:underline;
}


.forms input {
    border: none;
    appearance: none;
    color: #ECD8E0;
    background-color: transparent;
    border-bottom: #ECD8E0 1px solid;
}

.forms input:focus {
    appearance: none;
    background-color: transparent;
    outline: #ECD8E0 solid 2px;
    border-radius: 5px;
}

.login_botoes {
    display: flex;
}

.botao_acao {
    background-color: transparent;
    border-width: 10px;
    text-decoration: none;
    border: #771127;
    color: #771127;
    background-color: #ECD8E0;
    margin-top: 5%;
    width: 30%;
    border-radius: 7px;
    padding: 0.75rem;
    width: 10rem;
    font-size: 1.1em;
}

.botao_acao:hover {

    cursor: pointer;
    background-color: #771127;
    color: #ECD8E0;
    transition: 0.7s;
    border: #ECD8E0 1px solid;
}


.centralizar_botao {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}

.criar_conta{
    margin-top:5%;
    display: flex;
   /* justify-content: end;*/
}

.criar_conta p{
    color: #ECD8E0;
    margin:10px;
}

.criar_conta a{
    background-color: transparent;
    color: #ECD8E0;
    text-decoration: none;
    padding: 10px;
    border-radius: 7px;
    border: #ECD8E0 1px solid;

}

.criar_conta a:hover{
    background-color: #ECD8E0;
    color: #771127;
}
